apiVersion: n8n.n8n.io/v1alpha1
kind: N8nCredential
metadata:
  labels:
    app.kubernetes.io/name: n8n-operator
    app.kubernetes.io/managed-by: kustomize
  name: n8ncredential-sample
spec:
  # TODO(user): Add fields here
